AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_ENDPOINT_URL=https://chi.tacc.chameleoncloud.org:7480
ARTIFACT_BUCKET=proj23-mlflow-artifacts
MLFLOW_TRACKING_URI=http://129.114.25.207:8000/
SPOTIBOYS_SERVICE_BASE_URL=http://129.114.25.207:8089
SPOTIBOYS_SERVICE_ADMIN_TOKEN=
