*.tar.gz
/data/

# Environments
venv/
.env

# Cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# Data and Models
models/
artifacts/
panns/
*.mp3
*.wav
*.m4a
/ranker_*.parquet

# Logs
logs/

# OS Files
.DS_Store


mlruns/
mlflow.db
